In [6]:
import requests
import lxml.html as lh
import bs4 as bs
import urllib.request
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
url ='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
res = requests.get(url)
soup = bs.BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0]
df = pd.read_html(str(table))
data = pd.read_json(df[0].to_json(orient='records'))

In [8]:
data.head()

            Borough     Neighbourhood Postcode
0      Not assigned      Not assigned      M1A
1      Not assigned      Not assigned      M2A
2        North York         Parkwoods      M3A
3        North York  Victoria Village      M4A
4  Downtown Toronto      Harbourfront      M5A

In [9]:
data = data[data['Borough'] != 'Not assigned']

In [10]:
data = data.groupby(['Borough', 'Postcode'], as_index=False).agg(','.join)

In [11]:
data.head()

           Borough Postcode               Neighbourhood
0  Central Toronto      M4N               Lawrence Park
1  Central Toronto      M4P            Davisville North
2  Central Toronto      M4R          North Toronto West
3  Central Toronto      M4S                  Davisville
4  Central Toronto      M4T  Moore Park,Summerhill East

In [13]:
data['Neighbourhood'] = np.where(data['Neighbourhood'] == 'Not assigned', data['Borough'], data['Neighbourhood'])

In [14]:
data.shape

(103, 3)

# Question 2

In [16]:
geospatial_url = "https://cocl.us/Geospatial_data"
geodata = pd.read_csv(geospatial_url)

In [17]:
geodata.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [18]:
geodata.columns = ['Postcode', 'Latitude', 'Longitude']

In [19]:
all_data = pd.merge(data, geodata, on='Postcode')

In [20]:
all_data.head()

           Borough Postcode               Neighbourhood   Latitude  Longitude
0  Central Toronto      M4N               Lawrence Park  43.728020 -79.388790
1  Central Toronto      M4P            Davisville North  43.712751 -79.390197
2  Central Toronto      M4R          North Toronto West  43.715383 -79.405678
3  Central Toronto      M4S                  Davisville  43.704324 -79.388790
4  Central Toronto      M4T  Moore Park,Summerhill East  43.689574 -79.383160